<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Activate {{resourceToActivate.firstName}} {{resourceToActivate.lastName}}</h1>
</div>

<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="activateResource()" #activationForm="ngForm">
      <div class="form-group">
        <label for="startDate">Start Date</label>
        <input type="text" [(ngModel)]="tempStartDate"
               class="form-control"
               id="startDate"
               name="startDate"
               placeholder="Enter Start Date - format: YYYY-MM-DD"
               required #startDate="ngModel">
      </div>
      <div [hidden]="!startDate.pristine" class="alert alert-danger">Start Date is required</div>

      <div class="form-group">
        <label for="endDate">End Date</label>
        <input type="text" [(ngModel)]="tempEndDate"
               class="form-control"
               id="endDate"
               name="endDate"
               placeholder="Enter End Date - format: YYYY-MM-DD "
               required #endDate="ngModel">
      </div>
      <div [hidden]="!endDate.pristine" class="alert alert-danger">End Date is required</div>
      <button type="submit" [disabled]="!activationForm.form.valid"
              class="btn btn-success">Submit
      </button>

      <button type="button" class="btn btn-danger" (click)="reloadPage()">Cancel</button>
    </form>
  </div>
</div>
