<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit(id)" #clientForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="client.name"
               class="form-control"
               id="name"
               name="name"
               placeholder="Modify Client Name">
      </div>
      <button type="submit" [disabled]="!clientForm.form.valid"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
