
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Modify Learning Group: {{ getName(id) }}</h1>
</div>

<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit(id)" #lgForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="learningGroup.name"
               class="form-control"
               id="name"
               name="name"
               placeholder="Modify Learning Group Name">
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" [(ngModel)]="learningGroup.description"
               class="form-control"
               id="description"
               name="description"
               placeholder="Modify Learning Group Description">
      </div>
      <button type="submit" [disabled]="!lgForm.form.valid"
              class="btn btn-success">Submit</button>
      <button type="button" class="btn btn-danger" (click)="reloadPage()">Cancel</button>
    </form>
  </div>
</div>
