
<nav class="navbar navbar-dark sticky-top bg-dark flex-row p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3 " routerLink="/dashboard">iDeaS Booking</a>
  <ul class="navbar-nav px-3">
    <li class="nav-right text-nowrap">
      <a class="nav-link" routerLink="/portal">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/dashboard">
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/calendar">
              Calendar
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/regions">
              Regions
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/services">
              Services
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/resources">
              Resources
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/clients">
              Clients
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span></span>
        </h6>

      </div>
    </nav>
  </div>
</div>

