<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Add New Resource</h1>
</div>

<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="resourceForm">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input [(ngModel)]="resource.firstName" class="form-control"
               formControlName="firstName"
               id="firstName"
               name="firstName"
               placeholder="Enter Resource First Name"
               type="text">
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input [(ngModel)]="resource.lastName" class="form-control"
               formControlName="lastName"
               id="lastName"
               name="lastName"
               placeholder="Enter Resource Last Name"
               type="text">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input [(ngModel)]="resource.email" class="form-control"
               formControlName="email"
               id="email"
               name="email"
               placeholder="Enter Resource Email"
               type="email">
      </div>

      <div class="form-group">
        <label for="regionId">Region</label>
        <select [(ngModel)]="resource.regionId" class="form-control"
                formControlName="regionId"
                id="regionId"
                name="regionId">
          <option *ngFor="let region of this.regions"
                  value="{{region.id}}">{{region.regionName}}</option>
        </select>
      </div>

      <table class="table">
        <thead>
        <tr>
          <th scope="col">Language</th>
          <th scope="col">Proficiency</th>
          <th scope="col">
            <button type="button" (click)="addNewLanguage()">+</button>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let resLang of this.resourceLanguages.controls; let i=index" formArrayName="resourceLanguages">
          <div [formGroupName]="i">
            <td>
              <select formControlName="languages"
                      class="form-control"
                      id="languageId"
                      name="languageId">
                <option *ngFor="let language of this.allLanguages"
                        value="{{language.id}}">{{language.language}}</option>
              </select>
            </td>
            <td>
              <select formControlName="proficiencies"
                      class="form-control"
                      id="proficiencyId"
                      name="proficiencyId">
                <option *ngFor="let proficiency of this.allProficiencies"
                        value="{{proficiency.id}}">{{proficiency.proficiency}}</option>
              </select>
            </td>
          </div>
        </tr>
        </tbody>
      </table>
      <button [disabled]="!resourceForm.valid" class="btn btn-success" type="submit">Submit</button>
      <button type="button" (click)="this.reloadPage()" class="btn btn-danger">Cancel</button>
    </form>
  </div>
</div>
