<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Add New Learning Session</h1>
</div>

<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #lsForm="ngForm">
      <div class="form-group">
        <label for="code">Code</label>
        <input type="text" [(ngModel)]="learningSession.code"
               class="form-control"
               id="code"
               name="code"
               placeholder="Enter Learning Session Code"
               required #code="ngModel">
        <div [hidden]="!code.pristine" class="alert alert-danger">Code is required</div>
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="learningSession.name"
               class="form-control"
               id="name"
               name="name"
               placeholder="Enter Learning Session Name"
               required #name="ngModel">
      </div>
      <div [hidden]="!name.pristine" class="alert alert-danger">Name is required</div>
      <div class="form-group">
        <label for="learningGroup">Learning Group</label>
        <select class="form-control" [(ngModel)]="learningSession.learningGroupId"
                id="learningGroup"
                name="learningGroup"
                placeholder="Select Learning Group"
                required #learningGroup="ngModel">
          <option *ngFor="let learningGroup of learningGroups"
                  value="{{learningGroup.id}}">{{learningGroup.name}}</option>
        </select>
      </div>
      <div [hidden]="!learningGroup.pristine" class="alert alert-danger">Learning Group is required</div>
      <div class="form-group">
        <label for="duration">Duration</label>
        <input type="text" [(ngModel)]="learningSession.duration"
               class="form-control"
               id="duration"
               name="duration"
               placeholder="Enter Learning Session Duration"
               required #duration="ngModel">
      </div>
      <div [hidden]="!duration.pristine" class="alert alert-danger">Duration is required</div>
      <div class="form-group">
        <label for="duration-pre">Pre-Duration</label>
        <input type="text" [(ngModel)]="learningSession.preDuration"
               class="form-control"
               id="duration-pre"
               name="duration-pre"
               placeholder="Enter Learning Session Pre-Duration"
               required #durationPre="ngModel">
      </div>
      <div [hidden]="!durationPre.pristine" class="alert alert-danger">Pre-Duration is required</div>
      <div class="form-group">
        <label for="duration-post">Post-Duration</label>
        <input type="text" [(ngModel)]="learningSession.postDuration"
               class="form-control"
               id="duration-post"
               name="duration-post"
               placeholder="Enter Learning Session Post-Duration"
               required #durationPost="ngModel">
      </div>
      <div [hidden]="!durationPost.pristine" class="alert alert-danger">Post-Duration is required</div>
      <button type="submit" [disabled]="!lsForm.form.valid"
              class="btn btn-success">Submit
      </button>
      <button type="button" class="btn btn-danger" (click)="reloadPage()">Cancel</button>
    </form>
    <app-lg-form *ngIf="showAddComponent"></app-lg-form>
  </div>
</div>
