<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Assign Capabilities To Resource: {{ resourceToAssign.firstName}} {{resourceToAssign.lastName}}</h1>
</div>

    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th scope="col">Learning Group</th>
        <th scope="col">Learning Session</th>
        <th scope="col">Duration</th>
        <th scope="col">Capable?</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let learningSession of learningSessions">
        <td>{{ getLGName(learningSession.learningGroupId) }}</td>
        <td>{{ learningSession.name}}</td>
        <td>{{ learningSession.duration }}</td>
        <td align="center">
          <input type="checkbox" [ngModel]="learningSession.checked" (ngModelChange)="addSelection(learningSession.id, $event)"
          [checked]="learningSession.checked == true">
        </td>
      </tr>
      </tbody>
    </table>
    <button type="submit" class="btn btn-success" (click)="onSave()">Save</button>
    <button type="button" class="btn btn-danger" (click)="reloadPage()">Cancel</button>

