<app-dashboard></app-dashboard>

<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4" role="main">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Clients</h1>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Region</th>
      <th scope="col">Account Code</th>
      <th scope="col">
        <button class="btn btn-light btn-sm" (click)="toggleAddComponent()">Create New</button>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let client of clients">
      <td>{{ client.name }}</td>
      <td>{{ getRegion(client.regionId) }}</td>
      <td>{{ client.code }}</td>
      <td>
        <button class="btn btn-dark btn-sm" (click)="toggleEditComponent(client.id)">Edit</button>
        <button class="btn btn-danger btn-sm" (click)="onDelete(client.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
  <div>
    <app-client-form *ngIf="showAddComponent"></app-client-form>
    <app-client-modify-form *ngIf="showEditComponent" [id]="clientToEdit"></app-client-modify-form>
  </div>
</main>
